body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.video-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Make sure the video is behind the overlay */
}
.top_text {
    padding: 0;
    color: brown

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: solid wheat;
    z-index: 2; 
}

.overlay h1 {
    font-size: 20px;
}

.subtext_1 {
    color: white;
    font-size: 25px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    margin-top: -20px; 
}

.subtext {
    color: white;
    font-size: 25px;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
.subtext_2 {
    color: white;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(103, 88, 69, 0.704);
    padding: 10px;
    z-index: 3; 
    border-bottom: 5px solid black;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    height: 100vh;
    width: 100%; /* Ensure it takes up the full width of the screen */
    background-color: white;
    font-family: 'Times New Roman', serif;
    margin: 0; /* Remove any margin that might be causing the whitespace */
    padding: 0; /* Remove any padding that might be causing the whitespace */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.scroll-down-indicator {
    position: absolute;
    bottom: 30px; 
    text-align: center;
    font-size: 23px;
    animation: fadeIn 3s ease-in-out infinite;
    color: wheat;
}

.arrows {
    font-size: 24px;
    margin-top: 5px;
    animation: bounce 3s infinite;
    color: wheat;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10;
    }
}

.left {
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    color: burlywood;
    background-color: black;
}

.left h2 {
    font-size: 38px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.left p {
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

.text__2 {
    position: relative;
    font-family: 'Times New Roman', serif;
    color: brown;
    text-align: left;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: burlywood;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(86, 116, 226);
}

.button:hover {
    background-color: green;
}

.right {
    width: 50%;
    overflow: hidden;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-line {
    border-left: 1px solid white;
    height: 50%;
    position: relative;
    margin-top: 20px;
    left: 300px;
}

.HOW_IT_WORKS {
    position: relative;
    left: 230px;
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 14px;
}

.text_3 {
    font-size: 30px;
    margin-top: -20px;
}

.background-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; 
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}

.circular-container {
    position: relative;
    width: 212%;
    height: 190%;
    display: flex;
    overflow: hidden;
    margin-top: 100px;
    flex-direction: column;
    z-index: 2; /* Ensure this is above the background video */
}

.background-image {
    background-image: url("{{ url_for('static', filename='Images/nature-Machine-learning-in-healthcare-1a827e1f74e89142b039c8cf0872b49e.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Ensure it takes up the full viewport height */
    position: relative; /* To make sure it stacks correctly in the layout */
    z-index: 1; /* Make sure it is properly stacked */
}

